@import "../../sass/_colors";
@import "../../sass/_mixins";

.quiz {
  &__mapbox {
    min-height: 290px;
    margin-bottom: 3rem;
  }
  &__list-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 200px;
    overflow: scroll;
    margin: 1rem auto;
    padding: 1rem 0;
    border: 5px solid $white;
    background: $op-white;
  }
  &__user-list {
    background: #ffffffbe;
    width: 300px;
    height: 40px;
    margin: 0.2rem auto;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
  }
  &__user {
    color: $night;
    text-transform: uppercase;
    font-size: 0.8rem;
    margin: 0.5rem 0 0 0.5rem;
  }
  &__user-made-by {
    color: $night;
    margin: 0;
    font-size: 9px;
    margin-top: auto;
    padding-right: 0.5rem;
    padding-bottom: 0.1rem;
    font-style: italic;
  }
}

@media only screen and (min-width: 0px) and (max-width: 399px) {
  .quiz {
    &__list-container {
      width: 300px;
      height: 320px;
      margin: 0.5rem auto;
      padding: 0.3rem 0;
    }
    &__user-list {
      width: 280px;
      margin: 0.3rem auto;
      padding: 0.2rem 0;
    }
    &__user {
      font-size: 8.3px;
      max-width: 100px;
      text-align: left;
    }
  }
}
