$base: linear-gradient(
  -225deg,
  #60ffb0 0%,
  #ffffff 48%,
  rgb(244, 25, 255) 100%
);

$white: #ffffff;
$night: #000;
$ocean: #224987;
$topia: #ff9625;

$op-white: #ffffff34;
$op-lighter: #ffffffbe;
$op-night: #00000046;
$op-ocean: #22498748;
$op-ocean: #22498748;
