@import "../sass/_colors";

@mixin message {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0;
  padding: 0.3rem;
  font-size: 9px;
  color: $night;
}

@mixin font {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: $white;
}

@mixin fontTitle {
  text-transform: uppercase;
  font-family: "poppins", sans-serif;
  font-size: 150px;
  font-weight: 700;
  letter-spacing: 6px;
  margin: auto;
  color: $white;
  -webkit-text-stroke: 4px #ffffff;
}

@mixin btn {
  width: 100px;
  height: 30px;
  border-radius: 4px;
  border: none;
  border: 1.5px solid $ocean;
  background: $op-white;
  color: $ocean;
  text-transform: uppercase;
  font-family: "poppins", sans-serif;
  letter-spacing: 2px;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
}
@mixin btnNoBorder {
  width: 140px;
  height: 30px;
  border-radius: 4px;
  border: none;
  // border: 1px solid #ff5525;
  background: transparent;
  color: $white;
  text-transform: uppercase;
  font-family: "poppins", sans-serif;
  letter-spacing: 3px;
  font-size: 1rem;
  font-weight: 700;
  border: none;
  cursor: pointer;
}

@mixin btnBig {
  width: 173px;
  height: 49px;
  border-radius: 4px;
  border: 1px solid $white;
  background: #22498748;
  color: $white;
  text-transform: uppercase;
  font-family: "poppins", sans-serif;
  letter-spacing: 3px;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
}

@mixin btnRound {
  width: 20px;
  height: 20px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $white;
  background: none;
  color: $white;
  text-transform: uppercase;
  font-family: "poppins", sans-serif;
  letter-spacing: 3px;
  font-size: 14px;
  font-weight: 200;
  cursor: pointer;
}
