@import "../../sass/_colors";
@import "../../sass/_mixins";

.user-quiz {
  margin: auto;
  max-width: 500px;
  padding: 1rem;
  color: $white;
  height: 60vh;
  background-color: rgba(0, 0, 0, 0.578);

  &__title-empty {
    @include font;
    font-size: 11px;
    color: $white;
  }
  & section {
    height: 300px;
    overflow: scroll;
  }
  &__title {
    @include font;
    font-size: 3rem;
    font-weight: 400;
    line-height: normal;
    color: $white;
    margin: 1rem;
  }

  &__quiz-container {
    width: 200px;
    border-radius: 3px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: 0 0.5rem;
    background: #ffffff9f;
    // border-radius: 1px solid $white;
    margin: 1rem auto;
  }
  &__quiz-container p {
    @include font;
    font-size: 11px;
    color: $night;
    font-weight: 700;
  }

  &__delete-btn {
    width: 15px;
  }
}

@media only screen and (min-width: 0px) and (max-width: 399px) {
  .user-quiz {
    &__title {
      font-size: 1.7rem;
      margin-top: 1.5rem;
    }
  }
}
