@import "../../sass/_colors";
@import "../../sass/_mixins";

.profile {
  &__header {
    display: flex;
    flex-direction: column;
  }
  &__header-logout {
    @include btnNoBorder;
    margin-left: auto;
  }
  &__header-title {
    @include font;
    color: $white;
    line-height: normal;
    margin-right: auto;
  }

  // &__container {
  //   background: $op-night;
  // }
}

@media only screen and (min-width: 0px) and (max-width: 399px) {
  .profile {
    &__header-title {
      margin: 1rem auto;
      font-weight: 100;
    }
  }
}
