@import "../../sass/_colors";
@import "../../sass/_mixins";

.profile {
  width: 90vw;
  margin: auto;
  &__header {
    display: flex;
    flex-direction: column;
  }
  &__header-title {
    @include font;
    font-size: 3rem;
    line-height: normal;
    margin: 0 auto 0 0;
  }
  &__logout-btn {
    @include btnNoBorder;
    margin-left: auto;
    padding-left: 0.5rem;
  }
  & hr {
    border: 1px solid $white;
    border-radius: 8px;
    width: 90vw;
  }

  // &__container {
  //   background: $op-night;
  // }
}

@media only screen and (min-width: 0px) and (max-width: 399px) {
  .profile {
    &__header-title {
      margin: 1rem auto;
      font-weight: 400;
    }
  }
}
