@import "../../sass/_colors";
@import "../../sass/_mixins";

.landing {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 98vh;
  flex-direction: column;
  margin: 0 1.5rem;

  &__header {
    margin-left: auto;
  }
  &__signup-btn,
  &__login-btn {
    @include btnNoBorder;
    margin: 0 0.5rem 0 0.5rem;
    font-size: 1.2rem;
    width: 120px;
  }

  &__hero-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 90%;
  }

  &__auth-container {
    margin-left: auto;
  }
  & hr {
    border: 1px solid $white;
    border-radius: 8px;
    width: 90vw;
  }
  &__hero-title {
    @include fontTitle;
    margin: auto auto 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
  }

  &__quiz-btn {
    @include btnBig;
    margin: auto auto 1rem auto;
  }
}

@media only screen and (min-width: 600px) and (max-width: 805px) {
  .landing__hero-title {
    font-size: 7rem;
  }
}
@media only screen and (min-width: 400px) and (max-width: 599px) {
  .landing {
    &__hero-title {
      font-size: 4.2rem;
    }
    &__header {
      margin: 0 auto;
    }
  }
}

@media only screen and (min-width: 0px) and (max-width: 399px) {
  .landing {
    &__header {
      margin: 0 auto;
      width: 300px;
    }
    &__hero-title {
      font-size: 3rem;
    }
  }
}
