@import "../../sass/_colors";
@import "../../sass/_mixins";

.landing {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 98vh;
  flex-direction: column;
  &__header {
    margin-left: auto;
  }
  &__signup-btn,
  &__login-btn {
    @include btn;
    margin: 0 0.5rem 0 0.5rem;
  }

  // &__auth-content {
  //   width: 300px;
  //   height: 200px;
  //   margin: auto;
  //   z-index: 2;
  // }

  &__hero-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 90%;
  }
  & hr {
    border: 1px solid $white;
    border-radius: 8px;
    width: 90vw;
  }
  &__hero-title {
    @include fontTitle;
    margin: auto auto 0;
  }

  &__quiz-btn {
    @include btnBig;
    margin: 0 auto auto;
  }
}

@media only screen and (min-width: 600px) and (max-width: 805px) {
  .landing__hero-title {
    font-size: 7rem;
  }
}
@media only screen and (min-width: 400px) and (max-width: 599px) {
  .landing__hero-title {
    font-size: 4.8rem;
  }
}
@media only screen and (min-width: 0px) and (max-width: 399px) {
  .landing__hero-title {
    font-size: 3.4rem;
  }
}
