@import "../../sass/_colors";
@import "../../sass/_mixins";

.auth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: $op-lighter;
  border-radius: 6px;
  padding: 1rem;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 280px;
  }
  &__img-contianer {
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__profile-img {
    width: 100%;
    margin-left: auto;
  }
  &__message {
    @include message;
  }
  &__input {
    width: 169px;
    height: 33px;
    border-radius: 4px;
    border: 1px solid $white;
    background: $op-night;
    margin-bottom: 0.4rem;
    text-indent: 4px;
    color: $white;
  }
  &__input::placeholder {
    color: $op-white;
    letter-spacing: 0.8px;
  }

  &__login-btn,
  &__signup-btn {
    @include btn;
    margin-top: 0.3rem;
  }
}

@media only screen and (min-width: 0px) and (max-width: 425px) {
  .auth {
    position: absolute;
    width: 280px;
    border-radius: 8px;
    top: 27%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0.9rem auto;
    padding: 0.8rem;

    &__img-contianer {
      width: 50px;
      height: 35px;
      padding: 0.1rem;
    }
    &__profile-img {
      width: 100%;
    }
    &__login-btn {
      margin-top: 0.3rem;
      background: $op-white;
    }
    &__signup-btn {
      margin-top: 0.3rem;
      background: $op-white;
      padding: 0;
    }
  }
}
