@import "./sass/_colors";
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-image: url("../../src/assets/globe-hero.jpg");
  // background-image: $base;
  // background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 110vh;
}
